<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
</head>
<body>
    <h1>Add Category</h1>
    <form action="/admin/add_category" method="post">
        <label for="cat_name">Category Name</label>
        <input type="text" name="cat_name" id="cat_name">
        <input type="submit" value="Add Category">
    </form>
    {%if message== 1 %}
        <p>Category Added Successfully</p>
    {% endif %}
    <a href="/admin/home">Back to admin dashboard</a>
</body>
</html>